<!DOCTYPE html>
<html>
  <body>
    <% date = DateTime.now %>
    <% weekday = date.strftime(%A) %>
    <% month = date.strftime(%B) %>
    <% day_of_month = date.strftime(%d) %>
    <% year = date.strftime(%Y) %>
    <p>
      <%= "The date is #{weekday}, #{month} #{day_of_month}, #{year}"  %>
    </p>
  </body>
</html>
